//******************************************************************************
// BRAND & SKINS
// colors, specific typography, logos
//******************************************************************************


// Brand colors
// -----------------------------------------------------------------------------
.brand-1 { color: $brand-1; }
.brand-2 { color: $brand-2; }
.brand-3 { color: $brand-3; }
.brand-4 { color: $brand-4; }
.brand-5 { color: $brand-5; }


// Logo
// -----------------------------------------------------------------------------
.logo-main {

}

.logo-alt {

}


// Buttons
// -----------------------------------------------------------------------------
// The default square call-to-action buttons with dark-gradient
//
// :hover               - Invert the gradient effect
// :active              - Darken the text color
//
// Styleguide 0.0.1.
.cta-primary {
    &:hover {

    }

    &:active {

    }
}


// The secondary call-to-action buttons with light-gradient
//
// :hover               - Invert the gradient effect
// :active              - Lighten the text color
//
// Styleguide 0.0.1.
.cta-secondary {
    &:hover {

    }

    &:active {

    }

    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}


// The secondary call-to-action buttons with light-gradient
//
// :hover               - Invert the gradient effect
// :active              - Lighten the text color
//
// Styleguide 0.0.1.
.cta-accent {
    &:hover {

    }

    &:active {

    }

    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
