//******************************************************************************
// FORMS & ERRORS
//******************************************************************************

// Base Inputs
// -----------------------------------------------------------------------------
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    min-width: 100px;
    height: 60px;
    border: 0;
    padding: 0 18px;

    &.wpcf7-not-valid {
        background-color: #ff4169;
        border: solid 1px #f70050;
        position: relative;
    }
}


// Placeholder
// -----------------------------------------------------------------------------
:-webkit-input-placeholder {
    color: #ddd;
}

:-moz-placeholder {
    color: #ddd;
}

:-ms-input-placeholder {
    color: #ddd;
}


// Default values
// -----------------------------------------------------------------------------
// Spacing under the fieldset
fieldset {

}


// Form entry
// -----------------------------------------------------------------------------
// Represent a single line of any forms
// Can contain multiple inputs
.form-line {
    @include clearfix;

    display: block;
    margin-bottom: 28px;
    position: relative;

    label {
        display: block;
        margin-bottom: 2px;

        & + br {
            display: none;
        }

        // Labels for requied fields are in bold
        &.required {
            font-weight: bold;
        }

        // Smaller font inside the labels
        .small {
            font-size: 10px;
        }
    }

    &.spacer {
        margin-bottom: 30px;
    }
}


// WordPress Contact Form 7 - Errors
// -----------------------------------------------------------------------------
span.wpcf7-not-valid-tip {
    color: #f70050;
}

div.wpcf7-response-output {
    min-height: 60px;
    clear: both;
    font-weight: bold;
    text-align: left;
    padding: 22px 22px 22px 78px;
    border: 0;
    margin-right: 0;
    margin-left: 0;
    position: relative;

    &:before {
        display: block;
        content: "\0020";
        font-size: 30px;
        position: absolute;
        top: 0;
        left: 0;
    }

    // Validation Error
    &.wpcf7-validation-errors {
        background-color: #f7d700;
        color: #333;
    }

    &.wpcf7-validation-errors:before {
        background-color: #d3b908;
        background-position: 14px center;
    }

    // Validation Ok; Email sent
    &.wpcf7-mail-sent-ok {
        background-color: #61d79e;
        color: #333;
    }

    &.wpcf7-mail-sent-ok:before {
        background-color: #29c87c;
        background-position: -47px center;
    }
}
