//******************************************************************************
// MODULES
//******************************************************************************


// SEARCH BAR
// -----------------------------------------------------------------------------
.search-form {
    width: 100%;
    height: 100px;
    font-size: 20px;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translate3d(0, -100px, 0);
    transition: transform 0.15s ease-in-out;

    ::-webkit-input-placeholder {
        color: #fff;
    }

    :-ms-input-placeholder {
        color: #fff;
    }

    :-moz-placeholder {
        color: #fff;
    }

    .search-field {
        width: 100%;
        height: 100%;
        background-color: #000;
        color: #fff;
        padding: 0 80px 0 30px;
        border: 0;
        outline: 0;
    }

    .search-submit {
        width: 80px;
        height: 80px;
        background: none;
        color: #fff;
        line-height: 80px;
        text-align: center;
        border: 0;
        position: absolute;
        top: 0;
        right: 0;
    }

    .search-visible & {
        transform: translate3d(0, 0, 0);
    }
}


// LOADING ANIMATION
// Can be used with the `/templates/partials/loader.php` file
// -----------------------------------------------------------------------------
@keyframes sk-bounce {
    0%,
    100% {
        transform: scale3d(0, 0, 1);
    }

    50% {
        transform: scale3d(1, 1, 1);
    }
}

.loader {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    position: relative;

    .double-bounce1,
    .double-bounce2 {
        width: 100%;
        height: 100%;
        opacity: 0.6;
        background-color: #333;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        animation: sk-bounce 2s infinite ease-in-out;
    }

    .double-bounce2 {
        animation-delay: -1s;
    }
}
