//******************************************************************************
// STRUCTURE
// General elements of the structure, including containers and wrappers
//******************************************************************************


// CONTENT
// -----------------------------------------------------------------------------
#document {

}

.main {
    position: relative;
}

.section {
    position: relative;
}

.container {
    @include make-container-max-widths();
}
