//******************************************************************************
// TYPOGRAPHY
//******************************************************************************


// Headings
// -----------------------------------------------------------------------------
// Define a reusable & flexible class for each heading, which can be used
// everywhere in the page to replicate the style of the headings while keeping
// a clean structure.
// http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/
h1,
.alpha {

}

h2,
.beta {

}

h3,
.gamma {

}

h4,
.delta {

}

h5,
.epsilon {

}

h6,
.zeta {

}



// Page & Section Titles
// -----------------------------------------------------------------------------
.page-title {

}


.page-subtitle {

}


.subtitle {

}


.big-title {

}


.small-title {

}

.section-title {

}


// Font Colors
// -----------------------------------------------------------------------------
.white  { color: #fff; }
.black  { color: #000; }
.dim    { color: $text-dim; }
.faint  { color: $text-faint; }
.weak   { color: $text-weak; }
.danger { color: red; }


// Utilities
// -----------------------------------------------------------------------------
.alt-text {

}

// Text usually used for sub section titles
.leaders {

}

// Use for tooltips, small buttons, helper, etc.
.small-link {

}
