//******************************************************************************
// NAVIGATION
// All kind of navigation and menus, including breadcrumb.
//******************************************************************************

.nav-main {
    @include clearfix;

    position: relative;
    z-index: 9;

    // Remove the transition while the browser is resizing
    .resizing & {
        transition: none !important;
    }

    li {
        display: block;
        float: left;
        margin-left: 30px;
    }

    a {
        display: inline-block;
    }
}


// Mobile Navigation
// The styles for the navigation button on mobile
// -----------------------------------------------------------------------------
.burger {
    width: 35px;
    height: 23px;
    background: none !important;
    border: 0 !important;
    outline: 0;
    cursor: pointer;

    span {
        width: 100%;
        height: 3px;
        display: block;
        background-color: #fff;
        margin: 0;
    }

    span:nth-child(1) {
        transition: transform 0.35s cubic-bezier(0.86, 0, 0.07, 1) 0.05s;
    }

    span:nth-child(2) {
        margin: 7px 0;
        transition: all 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        transition-delay: 0.15s;
    }

    span:nth-child(3) {
        transition: transform 0.35s cubic-bezier(0.86, 0, 0.07, 1) 0.05s;
    }

    .mobile-nav-opened & span:nth-child(1) {
        transform: translate3d(0, 10px, 0) rotate(-45deg);
    }

    .mobile-nav-opened & span:nth-child(2) {
        opacity: 0;
        transform: scale(0);
        transition-delay: 0s;
    }

    .mobile-nav-opened & span:nth-child(3) {
        transform: translate3d(0, -10px, 0) rotate(45deg);
    }
}
