//******************************************************************************
// UTILITY
//******************************************************************************


// Hide for both screenreaders and browsers:
// css-discuss.incutio.com/wiki/Screenreader_Visibility
// -----------------------------------------------------------------------------
.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}


// Using the Clip Method, hide visually but NOT from screenreaders.
// This is a best practice for accessibility. For more information:
// http://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/
// Clip Method: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
// -----------------------------------------------------------------------------
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}


/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}


// Clearfix: contain floats
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
// `contenteditable` attribute is included anywhere else in the document.
// Otherwise it causes space to appear at the top and bottom of elements
// that receive the `clearfix` class.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
// -----------------------------------------------------------------------------
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.clearfix {
    @include clearfix;
}


// You can use a class="clear" to clear floating elements
// -----------------------------------------------------------------------------
.clear,
.clearer {
    clear: both;
    display: block;
}


// Reusable text alignment class
// -----------------------------------------------------------------------------
.align-left    { text-align: left; }
.align-center  { text-align: center; }
.align-right   { text-align: right; }


// Float element to the left or right
// -----------------------------------------------------------------------------
.right  { float: right; }
.left   { float: left; }

.center {
    margin-left: auto;
    margin-right: auto;
}


// If the element floated is an image, add some spacing next to it
img.left  { margin-right: 1em; }
img.right { margin-left: 1em; }


// Generic reusable spacers
// -----------------------------------------------------------------------------
.space-top      { margin-top: 2.5em; }
.space-right    { margin-right: 2.5em; }
.space-bottom   { margin-bottom: 2.5em; }
.space-left     { margin-left: 2.5em; }

.xlspace-bottom   { margin-bottom: 3.75em; }


// Vertically align the content of a container
// -----------------------------------------------------------------------------
@mixin vertical-align {
    position: relative;
    top: 50%;
    transform: translate3d(0, -50%, 0);
}

.valign {
    @include vertical-align;
}

.alignleft {
    float: left;
    margin-right: 18px;
    margin-bottom: 10px;
}

.alignright {
    float: right;
    margin-left: 18px;
    margin-bottom: 10px;
}
