/************************************************************************************
*
* StarterCSS v2.0
* Copyright 2012, Frank Parent
* https://github.com/fparent/StarterCSS
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*
* Thanks to Dave Gamache (davegamache.com) for the design inspiration of the form
* elements. His Skeleton Boilerplate is awesome.
*
* Also props to the Twitter team for their excellent work on the Bootstrap project
* (http://twitter.github.com/bootstrap/). This is precisely what inspired me to
* create StarterCSS as I need something similar, but more adapted to my needs.
*
* Finally, major thanks to Nicolas Gallagher and Jonathan Neal for their contribution
* to the Web Development community. I've been using their project (Normalize.css) in
* HTML5Boilerplate for some time and decided to include it since it fixes a lot of
* cross-browsers inconsistencies and a lot more.
* http://necolas.github.com/normalize.css/
*
*************************************************************************************/


// ***********************************************************************************
// BASE
// ***********************************************************************************

// Also using * alone should not be a great performance issue
// http://css-tricks.com/things-it-might-be-funuseful-to-try-the-universal-selector-on/
* {
    //Shortcut to prevent from repeating the property on every item with a background-image
    background-repeat: no-repeat;

    // Ghetto reset for every elements; will keep the developer tools clean
    // and define a consistent foundation across browsers to build the site on.
    margin: 0;
    padding: 0;
}


// Apply a natural box layout model to all elements
// http://paulirish.com/2012/box-sizing-border-box-ftw
// https://css-tricks.com/international-box-sizing-awareness-day/
*,
*:before,
*:after {
    box-sizing: border-box;
}


// Corrects text resizing oddly in IE6/7 when body font-size is set using em units
// http://clagnut.com/blog/348/#c790
// Keeps page centred in all browsers regardless of content height
// Prevents iOS text size adjust after orientation change, without disabling user zoom
// www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


// Block-Level Elements
article,
aside,
footer,
header,
nav,
section {
    display: block;
}


/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 2em;
}


// Addresses font-family inconsistency between 'textarea' and other form elements.
// Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
// Corrects font size not being inherited in all browsers
// Addresses margins set differently in IE6/7, FF3+, S5, Chrome
// Improves appearance and consistency in all browsers
label,
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

textarea {
    overflow: auto;
}

// Remove the default border-radius on the inputs in Chrome + Safari
select,
input,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    -moz-appearance: button;
    cursor: pointer;
}


// Remove the inner border and padding in Firefox.
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


// Restore the focus styles unset by the previous rule.
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}


// Re-set default cursor for disabled elements.
button[disabled],
html input[disabled] {
    cursor: default;
}


// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate
::selection {
    background: #add1ff;
    color: #404040;
    text-shadow: none;
}


// ***********************************************************************************
// LINKS
// ***********************************************************************************

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}


// ***********************************************************************************
// TABLES
// ***********************************************************************************

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-weight: bold;
    vertical-align: middle;
}

td {
    vertical-align: top;
}

table tbody th {
    border-top: 1px solid #ddd;
    vertical-align: top;
}


// ***********************************************************************************
// HTML5 DISPLAY DEFINITIONS
// ***********************************************************************************

// Corrects inline-block display not defined in IE6/7/8/9 & FF3
audio,
canvas,
video {
    display: inline-block;
}


// Prevents modern browsers from displaying 'audio' without controls
audio:not([controls]) {
    display: none;
}


// Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
[hidden] {
    display: none;
}


address {
    display: block;
    line-height: 18px;
    margin-bottom: 18px;
}


details summary::-webkit-details-marker {
    display: none;
}


// ***********************************************************************************
// TYPOGRAPHY
// ***********************************************************************************

// Addresses styling not present in IE7/8/9, S5, Chrome
abbr[title],
dfn[title] {
    border-bottom: dotted 1px;
    cursor: help;
}


// Prevent the duplicate application of `bolder` by the next rule in Safari 6.
// Add the correct font weight in Chrome, Edge, and Safari.
b,
strong {
    font-weight: inherit;
    font-weight: bolder;
}


hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}


// Addresses styling not present in S5, Chrome
address,
cite,
dfn,
em,
i,
q,
var {
    font-style: italic;
}


ins {
    background: #15e1ff;
    color: #404040;
    text-decoration: none;
}


// Addresses styling not present in IE6/7/8/9
mark {
    background: #ff0;
    color: #000;
}

// Improves readability of pre-formatted text in all browsers
pre {
    white-space: pre-wrap;
}

small {
    font-size: 80%;
}


// Prevents sub and sup affecting line-height in all browsers
// gist.github.com/413930
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}


sup {
    top: -0.5em;
}


sub {
    bottom: -0.25em;
}


del,
s {
    text-decoration: line-through;
}


// ***********************************************************************************
// QUOTES & CITATIONS
// ***********************************************************************************

// Addresses quote property not supported in S4
q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}


// ***********************************************************************************
// LISTS
// ***********************************************************************************
// Lists inside navigation usually serve diferent purposed (generally menus); therefor,
// it's probably a good idea to reset their style
nav ol,
nav ul,
nav ul ul,
nav ol ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}


// ***********************************************************************************
// EMBEDDED
// ***********************************************************************************

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
    border: 0;
}


/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
    overflow: hidden;
}


// ***********************************************************************************
// FIGURES
// ***********************************************************************************

// Addresses margin not present in IE6/7/8/9, S5, O11
figure {
    margin: 0;
}


figure img {
    display: block;
    margin-bottom: 0;
}


// ***********************************************************************************
// FORMS
// ***********************************************************************************
// Form buttons
// -----------------------------------------------------------------------------------
// 1. Improves usability and consistency of cursor style between image-type 'input' and others
// 2. Corrects inability to style clickable 'input' types in iOS
// 3. Removes inner spacing in IE7 without affecting normal text inputs
//    Known issue: inner spacing remains in IE6

// 1. Addresses appearance set to searchfield in S5, Chrome
// 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
}

// Removes inner padding that is displayed in S5, Chrome on OS X
input[type="search"]:-webkit-search-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

:-webkit-input-placeholder,
input:-moz-placeholder {
    color: #bfbfbf;
}


fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

// Remove the margin from the last element in the fieldset--this makes our padding more consistent.
fieldset > :last-child {
    margin-bottom: 0;
}


// The legend tag doesn't inherit in IE, that's why we assign a color
// Corrects alignment displayed oddly in IE6/7
legend {
    padding: 0;
}

label {
    cursor: pointer;
}
